body {
  margin: 0;
}

.app {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.game-container {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border: 8px solid #000;
  border-radius: 10px;
}

.game-container img {
  width: 70px;
  height: 70px;
}
